In [1]:
import os
os.chdir('../')

In [2]:
import normet.getdata as gd

In [3]:
gd.download_era5(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],
              year_range = ['2010', '2011'],month_range = ['01', '02', '03'],
              day_range = ['01', '02', '03'],time_range = ['00:00', '01:00', '02:00'],path=r'./normet/datasets/')

2023-04-06 10:11:16,936 INFO Welcome to the CDS
2023-04-06 10:11:16,941 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-04-06 10:11:16,956 INFO Welcome to the CDS
2023-04-06 10:11:16,958 INFO Welcome to the CDS
2023-04-06 10:11:16,960 INFO Welcome to the CDS
2023-04-06 10:11:16,964 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-04-06 10:11:16,962 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-04-06 10:11:16,960 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-04-06 10:11:17,085 INFO Request is completed
2023-04-06 10:11:17,088 INFO Downloading https://download-0012-clone.copernicus-climate.eu/cache-compute-0012/cache/data1/adaptor.mars.internal-1680702044.116234-29079-3-c2002d70-ee30-4eeb-a6c1-2c03c889c830.nc to ./normet/datasets/era5_data_43.0_-103.0.nc (14.4K)
2023-04-06 10:11:17,103 INFO Request is completed
2023-04-06 10:11:17,104 INFO Request is completed
2023-04-06 10:11:17,108 INFO Downloading https://download-0012-clone.copernicus-climate.eu/cache-compute-0012/cache/data3/adaptor.mars.internal-1680702058.1487834-29058-6-0f9dccc1-de90-4a4b-9b27-835dc125cefc.nc to ./normet/datasets/era5_data_40.0_-100.0.nc (14.4K)
2023-04-06 10:11:17,106 INFO Downloading https://download-0000-clone.copernicus-climate.eu/cache-compute-0000/cache/data8/adaptor.mars.internal-1680702011.4959173-29688-18-5510cd8c-480a-4327-86fc-434663f618c4.nc to ./normet/datasets/era5_data_41.0_-101.0.nc (14.4K)
2023-04-06 10:11:17,143 INFO Request is completed
2023-04-06 10:11:17,144 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data8/adaptor.mars.internal-1680702028.6506677-14861-9-5984bff8-849b-46c8-a64b-522a8ac95c8e.nc to ./normet/datasets/era5_data_42.0_-102.0.nc (14.4K)
  0%|                                               | 0.00/14.4k [00:00<?, ?B/s]

  0%|                                               | 0.00/14.4k [00:00<?, ?B/s]
  0%|                                               | 0.00/14.4k [00:00<?, ?B/s]


2023-04-06 10:11:17,432 INFO Download rate 44.6K/s

                                                                                2023-04-06 10:11:17,437 INFO Download rate 41.5K/s


                                                                                2023-04-06 10:11:17,465 INFO Download rate 44.9K/s



                                                                                2023-04-06 10:11:17,490 INFO Download rate 38.3K/s

In [4]:
df=gd.era5_dataframe(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],path=r'./normet/datasets/',n_cores=-1)

In [5]:
df

,u10,v10,d2m,t2m,blh,uvb,sp,ssrd,ssr,tcc,tp,lat,lon
2010-01-01 00:00:00,-2.456388,1.011660,263.441589,265.165344,70.944275,2311.828125,94075.835938,18755.562500,7551.156250,0.000000,0.000000,40.0,-100.0
2010-01-01 01:00:00,-2.669804,1.527561,262.588776,264.626160,77.783264,0.000000,94071.960938,0.000000,0.000000,0.000000,0.000000,40.0,-100.0
2010-01-01 02:00:00,-2.896270,1.687789,261.399353,263.368256,91.519348,0.000000,94087.171875,0.000000,0.000000,0.000000,0.000000,40.0,-100.0
2010-01-02 00:00:00,-3.058250,-0.728604,256.951477,259.206573,333.557159,2247.750000,94641.445312,14846.687500,6338.359375,0.832344,0.000001,40.0,-100.0
2010-01-02 01:00:00,-3.329050,-0.465813,257.090729,259.239105,323.211487,0.000000,94666.937500,0.000000,0.000000,0.850793,0.000001,40.0,-100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-03-02 01:00:00,-1.900456,-1.813736,259.669006,262.699005,306.889282,8200.267578,90523.179688,55553.593750,23360.000000,0.989837,0.000004,43.0,-103.0
2011-03-02 02:00:00,-2.006964,-1.459550,257.662720,260.586700,300.101959,0.000000,90558.398438,0.000000,0.000000,0.994903,0.000004,43.0,-103.0
2011-03-03 00:00:00,-1.779258,-0.132680,266.733215,273.228485,199.034119,68160.109375,89314.328125,636416.687500,288958.281250,0.282804,0.000000,43.0,-103.0
2011-03-03 01:00:00,-1.150861,0.804953,266.543945,272.399750,178.393860,10247.921875,89321.843750,89667.265625,39997.765625,0.785345,0.000000,43.0,-103.0
2011-03-03 02:00:00,-0.500796,1.178091,265.694366,270.890198,168.297882,0.000000,89324.023438,0.000000,0.000000,0.875086,0.000000,43.0,-103.0

In [3]:
gd.UK_AURN([2015,2016],authorities_lst=['Manchester'],manual_selection=True,path='./normet/datasets/')
#gd.UK_AURN([2015,2016],manual_selection=False,path='./normet/datasets/')

Downloading metadata file...
100% [..........................................................] 32490 / 32490Downloading data file for  Manchester Piccadilly  in  2015
100% [........................................................] 668772 / 668772Downloading data file for  Manchester Piccadilly  in  2016
100% [........................................................] 636433 / 636433Creating .csv file for  Manchester Piccadilly
Downloading data file for  Manchester Sharston  in  2015
Could not download data from  2015  for  Manchester Sharston
Downloading data file for  Manchester Sharston  in  2016
100% [........................................................] 265610 / 265610Creating .csv file for  Manchester Sharston
Downloading data file for  Manchester South  in  2015
100% [........................................................] 322628 / 322628Downloading data file for  Manchester South  in  2016
100% [..........................................................] 28254 / 28254Creating .csv file for  Manchester South
Downloading data file for  Manchester Town Hall  in  2015
Could not download data from  2015  for  Manchester Town Hall
Downloading data file for  Manchester Town Hall  in  2016
Could not download data from  2016  for  Manchester Town Hall
No data could be downloaded for  Manchester Town Hall