In [1]:
import os
os.chdir('../')

In [2]:
import normet.getdata as gd

In [3]:
gd.download_era5(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],
              year_range = ['2010', '2011'],month_range = ['01', '02', '03'],
              day_range = ['01', '02', '03'],time_range = ['00:00', '01:00', '02:00'],path=r'./normet/datasets/ERA5_netcdf/')

2023-06-12 11:22:40,919 INFO Welcome to the CDS
2023-06-12 11:22:40,930 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-06-12 11:22:40,927 INFO Welcome to the CDS
2023-06-12 11:22:40,928 INFO Welcome to the CDS
2023-06-12 11:22:40,925 INFO Welcome to the CDS
2023-06-12 11:22:40,945 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-06-12 11:22:40,947 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-06-12 11:22:40,948 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-06-12 11:22:41,059 INFO Request is queued
2023-06-12 11:22:41,060 INFO Request is queued
2023-06-12 11:22:41,061 INFO Request is queued
2023-06-12 11:22:41,071 INFO Request is queued
2023-06-12 11:22:42,148 INFO Request is running
2023-06-12 11:23:13,745 INFO Request is running
2023-06-12 11:23:13,751 INFO Request is completed
2023-06-12 11:23:13,752 INFO Downloading https://download-0003-clone.copernicus-climate.eu/cache-compute-0003/cache/data3/adaptor.mars.internal-1686565389.3290179-18453-8-59f91474-0a34-4122-9fae-e9f6f113312b.nc to ./normet/datasets/ERA5_netcdf/era5_data_41.0_-101.0.nc (14.4K)
2023-06-12 11:23:14,127 INFO Download rate 38.9K/s
2023-06-12 11:23:30,916 INFO Request is completed
2023-06-12 11:23:30,919 INFO Downloading https://download-0020.copernicus-climate.eu/cache-compute-0020/cache/data4/adaptor.mars.internal-1686565408.393423-8437-19-1e108835-bb01-489a-8516-44b53f533df2.nc to ./normet/datasets/ERA5_netcdf/era5_data_40.0_-100.0.nc (14.4K)
2023-06-12 11:23:30,931 INFO Request is running
2023-06-12 11:23:31,283 INFO Download rate 39.7K/s
2023-06-12 11:23:56,618 INFO Request is running
2023-06-12 11:23:56,648 INFO Request is completed
2023-06-12 11:23:56,651 INFO Downloading https://download-0010-clone.copernicus-climate.eu/cache-compute-0010/cache/data2/adaptor.mars.internal-1686565425.902636-22640-11-2c6b471d-bbb7-4b40-86eb-57a28edd2527.nc to ./normet/datasets/ERA5_netcdf/era5_data_42.0_-102.0.nc (14.4K)
2023-06-12 11:23:57,039 INFO Download rate 37.4K/s
2023-06-12 11:24:35,140 INFO Request is completed
2023-06-12 11:24:35,147 INFO Downloading https://download-0016.copernicus-climate.eu/cache-compute-0016/cache/data9/adaptor.mars.internal-1686565438.3687012-25729-10-b2280110-46c4-441e-9fbc-e204955367fe.nc to ./normet/datasets/ERA5_netcdf/era5_data_43.0_-103.0.nc (14.4K)
2023-06-12 11:24:35,522 INFO Download rate 38.5K/s

In [4]:
df=gd.era5_dataframe(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],path=r'./normet/datasets/ERA5_netcdf/',n_cores=-1)

In [5]:
df

,u10,v10,d2m,t2m,blh,uvb,sp,ssrd,ssr,tcc,tp,lat,lon
2010-01-01 00:00:00,-2.456388,1.011660,263.441589,265.165344,70.944275,2311.828125,94075.835938,18755.562500,7551.156250,0.000000,0.000000,40.0,-100.0
2010-01-01 01:00:00,-2.669804,1.527561,262.588776,264.626160,77.783264,0.000000,94071.960938,0.000000,0.000000,0.000000,0.000000,40.0,-100.0
2010-01-01 02:00:00,-2.896270,1.687789,261.399353,263.368256,91.519348,0.000000,94087.171875,0.000000,0.000000,0.000000,0.000000,40.0,-100.0
2010-01-02 00:00:00,-3.058250,-0.728604,256.951477,259.206573,333.557159,2247.750000,94641.445312,14846.687500,6338.359375,0.832344,0.000001,40.0,-100.0
2010-01-02 01:00:00,-3.329050,-0.465813,257.090729,259.239105,323.211487,0.000000,94666.937500,0.000000,0.000000,0.850793,0.000001,40.0,-100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-03-02 01:00:00,-1.900456,-1.813736,259.669006,262.699005,306.889282,8200.267578,90523.179688,55553.593750,23360.000000,0.989837,0.000004,43.0,-103.0
2011-03-02 02:00:00,-2.006964,-1.459550,257.662720,260.586700,300.101959,0.000000,90558.398438,0.000000,0.000000,0.994903,0.000004,43.0,-103.0
2011-03-03 00:00:00,-1.779258,-0.132680,266.733215,273.228485,199.034119,68160.109375,89314.328125,636416.687500,288958.281250,0.282804,0.000000,43.0,-103.0
2011-03-03 01:00:00,-1.150861,0.804953,266.543945,272.399750,178.393860,10247.921875,89321.843750,89667.265625,39997.765625,0.785345,0.000000,43.0,-103.0
2011-03-03 02:00:00,-0.500796,1.178091,265.694366,270.890198,168.297882,0.000000,89324.023438,0.000000,0.000000,0.875086,0.000000,43.0,-103.0

In [6]:
gd.download_era5_area(lat_lim = [40.0, 43.0],lon_lim = [-103.0,-100.0],
              year_range = ['2010', '2011'],month_range = ['01', '02', '03'],
              day_range = ['01', '02', '03'],time_range = ['00:00', '01:00', '02:00'],path=r'./normet/datasets/ERA5_netcdf/')

2023-06-12 11:29:28,454 INFO Welcome to the CDS
2023-06-12 11:29:28,456 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-06-12 11:29:28,583 INFO Request is queued
2023-06-12 11:29:29,652 INFO Request is running
2023-06-12 11:29:49,819 INFO Request is completed
2023-06-12 11:29:49,821 INFO Downloading https://download-0019.copernicus-climate.eu/cache-compute-0019/cache/data0/adaptor.mars.internal-1686565783.0409741-7875-2-73c80dc9-89d9-46a0-9868-ae381b65350c.nc to ./normet/datasets/ERA5_netcdf/era5_data_[40.0, 43.0]_[-103.0, -100.0].nc (200.1K)
2023-06-12 11:29:50,325 INFO Download rate 398.1K/s

In [8]:
gd.era5_area_dataframe(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],filepath=r'./normet/datasets/ERA5_netcdf/era5_data_[40.0, 43.0]_[-103.0, -100.0].nc')

,u10,v10,d2m,t2m,blh,uvb,sp,ssrd,ssr,tcc,tp,lat,lon
2010-01-01 00:00:00,-2.456327,1.011457,263.441345,265.165314,70.931274,2311.572266,94075.789062,18753.25000,7551.68750,0.000000,0.000000,40.0,-100.0
2010-01-01 01:00:00,-2.669802,1.527477,262.588409,264.625977,77.778625,0.000000,94071.906250,0.00000,0.03125,0.000000,0.000000,40.0,-100.0
2010-01-01 02:00:00,-2.896277,1.687880,261.399078,263.368622,91.514526,0.000000,94087.132812,0.00000,0.03125,0.000000,0.000000,40.0,-100.0
2010-01-02 00:00:00,-3.058208,-0.728603,256.951569,259.206329,333.563782,2247.863281,94641.328125,14843.53125,6331.75000,0.832344,0.000001,40.0,-100.0
2010-01-02 01:00:00,-3.329156,-0.465639,257.091003,259.239380,323.210266,0.000000,94667.000000,0.00000,0.03125,0.850793,0.000001,40.0,-100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-03-02 01:00:00,-1.900517,-1.813664,259.668854,262.698792,306.896301,8200.404297,90523.156250,55554.00000,23359.53125,0.989837,0.000004,43.0,-103.0
2011-03-02 02:00:00,-2.007027,-1.459654,257.662872,260.586609,300.090210,0.000000,90558.375000,0.00000,0.03125,0.994903,0.000004,43.0,-103.0
2011-03-03 00:00:00,-1.779412,-0.132784,266.733154,273.228394,199.030121,68160.109375,89314.312500,636412.00000,288956.90625,0.282804,0.000000,43.0,-103.0
2011-03-03 01:00:00,-1.150847,0.804996,266.543701,272.399628,178.405609,10247.587891,89321.781250,89666.09375,40000.71875,0.785345,0.000000,43.0,-103.0
2011-03-03 02:00:00,-0.500616,1.178287,265.694305,270.890015,168.299561,0.000000,89323.867188,0.00000,0.03125,0.875086,0.000000,43.0,-103.0

In [6]:
gd.UK_AURN([2015,2016],authorities_lst=['Manchester'],manual_selection=True,path='./normet/datasets/')
#gd.UK_AURN([2015,2016],manual_selection=False,path='./normet/datasets/')

Metadata file already exists, skipping download.
Data file already exists Manchester Piccadilly  in  2015
Data file already exists Manchester Piccadilly  in  2016
Creating .csv file for  Manchester Piccadilly
Downloading data file for  Manchester Sharston  in  2015
Could not download data from  2015  for  Manchester Sharston
Data file already exists Manchester Sharston  in  2016
Creating .csv file for  Manchester Sharston
Data file already exists Manchester South  in  2015
Data file already exists Manchester South  in  2016
Creating .csv file for  Manchester South
Downloading data file for  Manchester Town Hall  in  2015
Could not download data from  2015  for  Manchester Town Hall
Downloading data file for  Manchester Town Hall  in  2016
Could not download data from  2016  for  Manchester Town Hall
No data could be downloaded for  Manchester Town Hall