In [1]:
import os
os.chdir('../')

In [2]:
import normet.getdata as gd

In [3]:
gd.download_era5(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],
              year_range = [ '2023'],month_range = ['08','09'],
              path=r'./normet/datasets/ERA5_netcdf/')

2023-09-12 13:03:33,928 INFO Welcome to the CDS
2023-09-12 13:03:33,935 INFO Welcome to the CDS
2023-09-12 13:03:33,939 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-09-12 13:03:33,936 INFO Welcome to the CDS
2023-09-12 13:03:33,951 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-09-12 13:03:33,935 INFO Welcome to the CDS
2023-09-12 13:03:33,938 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-09-12 13:03:33,959 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-09-12 13:03:34,014 INFO Request is queued
2023-09-12 13:03:34,034 INFO Request is queued
2023-09-12 13:03:34,058 INFO Request is queued
2023-09-12 13:03:34,059 INFO Request is queued
2023-09-12 13:03:35,093 INFO Request is running
2023-09-12 13:07:52,666 INFO Request is running
2023-09-12 13:07:52,681 INFO Request is completed
2023-09-12 13:07:52,683 INFO Downloading https://download-0001-clone.copernicus-climate.eu/cache-compute-0001/cache/data9/adaptor.mars.internal-1694520391.3694432-14236-4-58d82960-2994-459d-b1c0-fda2385d57c5.nc to ./normet/datasets/ERA5_netcdf/era5_data_43.0_-103.0.nc (149.3K)
2023-09-12 13:07:53,148 INFO Download rate 321.7K/s
2023-09-12 13:11:53,280 INFO Request is completed
2023-09-12 13:11:53,284 INFO Downloading https://download-0000-clone.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.mars.internal-1694520589.0602365-29266-2-b843e5eb-5081-4492-9d08-0a8e38be9829.nc to ./normet/datasets/ERA5_netcdf/era5_data_41.0_-101.0.nc (149.3K)
2023-09-12 13:11:53,301 INFO Request is running
2023-09-12 13:11:53,778 INFO Download rate 303.6K/s
2023-09-12 13:13:53,609 INFO Request is completed
2023-09-12 13:13:53,611 INFO Request is running
2023-09-12 13:13:53,618 INFO Downloading https://download-0019.copernicus-climate.eu/cache-compute-0019/cache/data8/adaptor.mars.internal-1694520747.1054761-31616-12-7cec702d-e0f3-46f7-b6ae-e3c4db6993d3.nc to ./normet/datasets/ERA5_netcdf/era5_data_40.0_-100.0.nc (149.3K)
2023-09-12 13:13:54,122 INFO Download rate 299.1K/s
2023-09-12 13:15:54,049 INFO Request is completed
2023-09-12 13:15:54,053 INFO Downloading https://download-0002-clone.copernicus-climate.eu/cache-compute-0002/cache/data1/adaptor.mars.internal-1694520926.732925-19341-17-1c76c6fb-e5a7-43a8-9ca0-026e6bb2c0a1.nc to ./normet/datasets/ERA5_netcdf/era5_data_42.0_-102.0.nc (149.3K)
2023-09-12 13:15:55,491 INFO Download rate 104K/s

In [4]:
df=gd.era5_dataframe(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],path=r'./normet/datasets/ERA5_netcdf/',n_cores=-1)

In [5]:
df

,u10,v10,d2m,t2m,blh,sp,ssrd,tcc,tp,lat,lon
2023-08-01 00:00:00,-3.738438,-1.559481,293.021454,304.917114,1102.908569,93218.492188,1.368530e+06,0.189141,0.000000e+00,40.0,-100.0
2023-08-01 01:00:00,-3.776691,-1.448858,293.048889,304.282867,929.300903,93237.273438,6.759171e+05,0.124334,0.000000e+00,40.0,-100.0
2023-08-01 02:00:00,-4.739495,-1.033687,293.317291,301.812561,791.139465,93295.148438,1.279141e+05,0.736759,0.000000e+00,40.0,-100.0
2023-08-01 03:00:00,-4.741343,-0.801298,293.047455,298.375427,638.904541,93401.437500,1.250000e-01,0.995544,0.000000e+00,40.0,-100.0
2023-08-01 04:00:00,-4.164585,-0.694653,293.413971,297.781311,512.873535,93434.648438,1.250000e-01,1.000000,0.000000e+00,40.0,-100.0
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-07 08:00:00,-1.062305,4.146491,282.146606,289.248993,377.380371,89543.390625,-1.250000e-01,0.015229,-2.328306e-10,43.0,-103.0
2023-09-07 09:00:00,-0.711289,4.322321,281.472076,289.097961,366.730591,89552.242188,-1.250000e-01,0.161934,-2.328306e-10,43.0,-103.0
2023-09-07 10:00:00,0.429012,4.266153,280.505981,288.010193,237.444580,89488.187500,-1.250000e-01,0.257931,-2.328306e-10,43.0,-103.0
2023-09-07 11:00:00,0.700046,3.944882,280.533325,288.211884,245.179199,89481.460938,-1.250000e-01,0.084019,2.879184e-06,43.0,-103.0
2023-09-07 12:00:00,0.926953,3.571242,280.920380,288.552429,248.451538,89485.851562,-1.250000e-01,0.021729,-2.328306e-10,43.0,-103.0

In [6]:
gd.download_era5_area(lat_lim = [40.0, 43.0],lon_lim = [-103.0,-100.0],
              year_range = [ '2023'],month_range = [ '08', '09'],
              day_range = ['01', '02', '03'],time_range = ['00:00', '01:00', '02:00'],path=r'./normet/datasets/ERA5_netcdf/')

2023-09-12 13:17:33,765 INFO Welcome to the CDS
2023-09-12 13:17:33,768 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-09-12 13:17:33,862 INFO Request is queued
2023-09-12 13:17:34,936 INFO Request is running
2023-09-12 13:17:42,367 INFO Request is completed
2023-09-12 13:17:42,371 INFO Downloading https://download-0021.copernicus-climate.eu/cache-compute-0021/cache/data7/adaptor.mars.internal-1694521059.1609402-22669-7-cf9d8a9c-b379-4d62-bde8-f1958d1bc671.nc to ./normet/datasets/ERA5_netcdf/era5_data_[40.0, 43.0]_[-103.0, -100.0].nc (56.8K)
2023-09-12 13:17:42,890 INFO Download rate 110K/s

In [7]:
gd.era5_area_dataframe(lat_list = [40.0, 41.0, 42.0,43.0],lon_list = [-100.0, -101.0, -102.0,-103.0],filepath=r'./normet/datasets/ERA5_netcdf/era5_data_[40.0, 43.0]_[-103.0, -100.0].nc')

,u10,v10,d2m,t2m,blh,sp,ssrd,tcc,tp,lat,lon
2023-08-01 00:00:00,-3.738469,-1.559424,293.021576,304.916901,1102.932129,93218.429688,1.368522e+06,0.189141,0.000000,40.0,-100.0
2023-08-01 01:00:00,-3.776742,-1.448954,293.048981,304.282684,929.288391,93237.242188,6.759111e+05,0.124334,0.000000,40.0,-100.0
2023-08-01 02:00:00,-4.739501,-1.033637,293.317322,301.812622,791.130859,93295.015625,1.279279e+05,0.736759,0.000000,40.0,-100.0
2023-08-02 00:00:00,-3.386415,-2.400684,294.241333,306.335236,845.018921,93122.921875,1.121802e+06,0.028963,0.000003,40.0,-100.0
2023-08-02 01:00:00,-3.479061,-2.286000,294.416901,305.872009,700.480469,93119.210938,3.878394e+05,0.099370,0.000000,40.0,-100.0
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-02 01:00:00,-1.653327,-1.693710,287.647888,305.156036,124.590942,89434.921875,4.045395e+05,0.351014,0.000000,43.0,-103.0
2023-09-02 02:00:00,-2.278763,-1.861523,287.411530,298.941101,81.365234,89471.640625,2.232738e+04,0.433720,0.000000,43.0,-103.0
2023-09-03 00:00:00,2.700427,0.106424,285.069061,307.079865,742.923950,89419.492188,7.392030e+05,0.350495,0.000000,43.0,-103.0
2023-09-03 01:00:00,2.448156,0.325350,283.627228,307.212036,115.040161,89407.554688,3.462372e+05,0.182732,0.000000,43.0,-103.0
2023-09-03 02:00:00,2.208340,0.863045,282.586731,302.501190,67.491943,89435.031250,1.938838e+04,0.255795,0.000000,43.0,-103.0

In [3]:
gd.UK_AURN_metadata(path='./normet/datasets/')[1]

Metadata file already exists, skipping download.

['Aberdeen City',
 'Armagh',
 'Powys',
 'Midlothian',
 'Ballymena',
 'Barnsley',
 'North Devon',
 'Bath and North East Somerset',
 'Belfast',
 'Stockton-on-Tees',
 'Bassetlaw',
 'Wirral',
 'Birmingham',
 'Bromsgrove',
 'Blackburn with Darwen',
 'Blackpool',
 'Bolton',
 'Hertsmere',
 'Melton',
 'Bournemouth',
 'Bradford',
 'Hounslow',
 'Brighton and Hove',
 'Bristol, City of',
 'Bromley',
 'East Staffordshire',
 'Bury',
 'North Hertfordshire',
 'Cambridge',
 'Camden',
 'Cannock Chase',
 'Canterbury',
 'Cardiff',
 'Carlisle',
 'Westminster',
 'South Somerset',
 'Medway',
 'Monmouthshire',
 'Chesterfield',
 'Test Valley',
 'Christchurch',
 'Coventry',
 'Cheshire East',
 'Torfaen',
 'Derby',
 'Derry',
 'Kirklees',
 'Doncaster',
 'West Dunbartonshire',
 'Dumfries and Galloway',
 'Dundee City',
 'Ealing',
 'South Lanarkshire',
 'Eastbourne',
 'Edinburgh, City of',
 'Exeter',
 'Wakefield',
 'Highland',
 'Glasgow City',
 'Salford',
 'Falkirk',
 'Eden',
 'Inverclyde',
 'Caerphilly',
 'Haringey',
 'Hartlepool',
 'Vale of White Horse',
 'Ryedale',
 'East Devon',
 'Reigate and Banstead',
 'Kingston upon Hull, City of',
 'North East Lincolnshire',
 'High Peak',
 'Warwick',
 'Leeds',
 'Leicester',
 'Herefordshire, County of',
 'Shetland Islands',
 'Lincoln',
 'Liverpool',
 'Kingston upon Thames',
 'Bexley',
 'Brent',
 'Castle Point',
 'Kensington and Chelsea',
 'Greenwich',
 'Hackney',
 'Hillingdon',
 'Harrow',
 'Lewisham',
 'Islington',
 'Southwark',
 'Sutton',
 'Richmond',
 'Wandsworth',
 'Fermanagh',
 'Wealden',
 'Luton',
 nan,
 'Manchester',
 'Harborough',
 'Middlesbrough',
 'Milton Keynes',
 'Flintshire',
 'Pembrokeshire',
 'Newcastle upon Tyne',
 'Newport',
 'Northampton',
 'Norwich',
 'Nottingham',
 'Sandwell',
 'Oxford',
 'Scottish Borders',
 'Plymouth',
 'Neath Port Talbot',
 'Portsmouth',
 'Preston',
 'Reading',
 'Redcar and Cleveland',
 'Rotherham',
 'Cornwall',
 'Central Bedfordshire',
 'North Lincolnshire',
 'Oldham',
 'Sheffield',
 'Suffolk Coastal',
 'Southampton',
 'Southend-on-Sea',
 'St. Helens',
 'Tendring',
 'Thurrock',
 'Stevenage',
 'Bedford',
 'Stockport',
 'Stoke on Trent',
 'Horsham',
 'Sunderland',
 'Swansea',
 'Swindon',
 'Telford and Wrekin',
 'Tower Hamlets',
 'Walsall',
 'Warrington',
 'North Norfolk',
 'East Cambridgeshire',
 'Halton',
 'Wigan',
 'Wolverhampton',
 'Worthing',
 'Lancaster',
 'Wrexham',
 'Teignbridge',
 'York']

In [7]:
gd.UK_AURN_download([2015,2016],list_authorities=['Birmingham'],path='./normet/datasets/')
#gd.UK_AURN_download([2015,2016],manual_selection=False,path='./normet/datasets/')

Downloading metadata file...
100% [..........................................................] 32576 / 32576Metadata file already exists, skipping download.
Downloading data file for  Birmingham A4540 Roadside  in  2015
Could not download data from  2015  for  Birmingham A4540 Roadside
Downloading data file for  Birmingham A4540 Roadside  in  2016
100% [........................................................] 169802 / 169802Creating .csv file for  Birmingham A4540 Roadside
Downloading data file for  Birmingham Acocks Green  in  2015
100% [........................................................] 471952 / 471952Downloading data file for  Birmingham Acocks Green  in  2016
100% [........................................................] 478822 / 478822Creating .csv file for  Birmingham Acocks Green
Downloading data file for  Birmingham Centre  in  2015
Could not download data from  2015  for  Birmingham Centre
Downloading data file for  Birmingham Centre  in  2016
Could not download data from  2016  for  Birmingham Centre
No data could be downloaded for  Birmingham Centre
Downloading data file for  Birmingham East  in  2015
Could not download data from  2015  for  Birmingham East
Downloading data file for  Birmingham East  in  2016
Could not download data from  2016  for  Birmingham East
No data could be downloaded for  Birmingham East
Downloading data file for  Birmingham Ladywood  in  2015
Could not download data from  2015  for  Birmingham Ladywood
Downloading data file for  Birmingham Ladywood  in  2016
Could not download data from  2016  for  Birmingham Ladywood
No data could be downloaded for  Birmingham Ladywood
Downloading data file for  Birmingham Tyburn  in  2015
100% [........................................................] 752216 / 752216Downloading data file for  Birmingham Tyburn  in  2016
100% [........................................................] 744705 / 744705Creating .csv file for  Birmingham Tyburn
Downloading data file for  Birmingham Tyburn Roadside  in  2015
100% [........................................................] 605271 / 605271Downloading data file for  Birmingham Tyburn Roadside  in  2016
100% [........................................................] 418137 / 418137Creating .csv file for  Birmingham Tyburn Roadside

In [8]:
gd.UK_AURN_download([2015,2016],list_authorities=['Manchester','Birmingham'],path='./normet/datasets/')

Metadata file already exists, skipping download.
Metadata file already exists, skipping download.
Downloading data file for  Manchester Piccadilly  in  2015
100% [........................................................] 668772 / 668772Downloading data file for  Manchester Piccadilly  in  2016
100% [........................................................] 636433 / 636433Creating .csv file for  Manchester Piccadilly
Downloading data file for  Manchester Sharston  in  2015
Could not download data from  2015  for  Manchester Sharston
Downloading data file for  Manchester Sharston  in  2016
100% [........................................................] 265610 / 265610Creating .csv file for  Manchester Sharston
Downloading data file for  Manchester South  in  2015
100% [........................................................] 322628 / 322628Downloading data file for  Manchester South  in  2016
100% [..........................................................] 28254 / 28254Creating .csv file for  Manchester South
Downloading data file for  Manchester Town Hall  in  2015
Could not download data from  2015  for  Manchester Town Hall
Downloading data file for  Manchester Town Hall  in  2016
Could not download data from  2016  for  Manchester Town Hall
No data could be downloaded for  Manchester Town Hall
Metadata file already exists, skipping download.
Downloading data file for  Birmingham A4540 Roadside  in  2015
Could not download data from  2015  for  Birmingham A4540 Roadside
Data file already exists Birmingham A4540 Roadside  in  2016
Creating .csv file for  Birmingham A4540 Roadside
Data file already exists Birmingham Acocks Green  in  2015
Data file already exists Birmingham Acocks Green  in  2016
Creating .csv file for  Birmingham Acocks Green
Downloading data file for  Birmingham Centre  in  2015
Could not download data from  2015  for  Birmingham Centre
Downloading data file for  Birmingham Centre  in  2016
Could not download data from  2016  for  Birmingham Centre
No data could be downloaded for  Birmingham Centre
Downloading data file for  Birmingham East  in  2015
Could not download data from  2015  for  Birmingham East
Downloading data file for  Birmingham East  in  2016
Could not download data from  2016  for  Birmingham East
No data could be downloaded for  Birmingham East
Downloading data file for  Birmingham Ladywood  in  2015
Could not download data from  2015  for  Birmingham Ladywood
Downloading data file for  Birmingham Ladywood  in  2016
Could not download data from  2016  for  Birmingham Ladywood
No data could be downloaded for  Birmingham Ladywood
Data file already exists Birmingham Tyburn  in  2015
Data file already exists Birmingham Tyburn  in  2016
Creating .csv file for  Birmingham Tyburn
Data file already exists Birmingham Tyburn Roadside  in  2015
Data file already exists Birmingham Tyburn Roadside  in  2016
Creating .csv file for  Birmingham Tyburn Roadside

In [9]:
gd.UK_AURN_download([2015,2016],list_authorities=['Glasgow'],path='./normet/datasets/')

Metadata file already exists, skipping download.
Metadata file already exists, skipping download.
Metadata file already exists, skipping download.
Please select the authorities in the below list ['Aberdeen City', 'Armagh', 'Powys', 'Midlothian', 'Ballymena', 'Barnsley', 'North Devon', 'Bath and North East Somerset', 'Belfast', 'Stockton-on-Tees', 'Bassetlaw', 'Wirral', 'Birmingham', 'Bromsgrove', 'Blackburn with Darwen', 'Blackpool', 'Bolton', 'Hertsmere', 'Melton', 'Bournemouth', 'Bradford', 'Hounslow', 'Brighton and Hove', 'Bristol, City of', 'Bromley', 'East Staffordshire', 'Bury', 'North Hertfordshire', 'Cambridge', 'Camden', 'Cannock Chase', 'Canterbury', 'Cardiff', 'Carlisle', 'Westminster', 'South Somerset', 'Medway', 'Monmouthshire', 'Chesterfield', 'Test Valley', 'Christchurch', 'Coventry', 'Cheshire East', 'Torfaen', 'Derby', 'Derry', 'Kirklees', 'Doncaster', 'West Dunbartonshire', 'Dumfries and Galloway', 'Dundee City', 'Ealing', 'South Lanarkshire', 'Eastbourne', 'Edinburgh, City of', 'Exeter', 'Wakefield', 'Highland', 'Glasgow City', 'Salford', 'Falkirk', 'Eden', 'Inverclyde', 'Caerphilly', 'Haringey', 'Hartlepool', 'Vale of White Horse', 'Ryedale', 'East Devon', 'Reigate and Banstead', 'Kingston upon Hull, City of', 'North East Lincolnshire', 'High Peak', 'Warwick', 'Leeds', 'Leicester', 'Herefordshire, County of', 'Shetland Islands', 'Lincoln', 'Liverpool', 'Kingston upon Thames', 'Bexley', 'Brent', 'Castle Point', 'Kensington and Chelsea', 'Greenwich', 'Hackney', 'Hillingdon', 'Harrow', 'Lewisham', 'Islington', 'Southwark', 'Sutton', 'Richmond', 'Wandsworth', 'Fermanagh', 'Wealden', 'Luton', nan, 'Manchester', 'Harborough', 'Middlesbrough', 'Milton Keynes', 'Flintshire', 'Pembrokeshire', 'Newcastle upon Tyne', 'Newport', 'Northampton', 'Norwich', 'Nottingham', 'Sandwell', 'Oxford', 'Scottish Borders', 'Plymouth', 'Neath Port Talbot', 'Portsmouth', 'Preston', 'Reading', 'Redcar and Cleveland', 'Rotherham', 'Cornwall', 'Central Bedfordshire', 'North Lincolnshire', 'Oldham', 'Sheffield', 'Suffolk Coastal', 'Southampton', 'Southend-on-Sea', 'St. Helens', 'Tendring', 'Thurrock', 'Stevenage', 'Bedford', 'Stockport', 'Stoke on Trent', 'Horsham', 'Sunderland', 'Swansea', 'Swindon', 'Telford and Wrekin', 'Tower Hamlets', 'Walsall', 'Warrington', 'North Norfolk', 'East Cambridgeshire', 'Halton', 'Wigan', 'Wolverhampton', 'Worthing', 'Lancaster', 'Wrexham', 'Teignbridge', 'York']

In [11]:
gd.UK_AURN_download([2015,2016],list_authorities=['Glasgow City'],path='./normet/datasets/')

Metadata file already exists, skipping download.
Metadata file already exists, skipping download.
Downloading data file for  Glasgow Centre  in  2015
Could not download data from  2015  for  Glasgow Centre
Downloading data file for  Glasgow Centre  in  2016
Could not download data from  2016  for  Glasgow Centre
No data could be downloaded for  Glasgow Centre
Downloading data file for  Glasgow City Chambers  in  2015
Could not download data from  2015  for  Glasgow City Chambers
Downloading data file for  Glasgow City Chambers  in  2016
Could not download data from  2016  for  Glasgow City Chambers
No data could be downloaded for  Glasgow City Chambers
Downloading data file for  Glasgow Great Western Road  in  2015
100% [........................................................] 213014 / 213014Downloading data file for  Glasgow Great Western Road  in  2016
100% [........................................................] 208118 / 208118Could not create Ox entry for  GGWR
Creating .csv file for  Glasgow Great Western Road
Downloading data file for  Glasgow High Street  in  2015
100% [........................................................] 437909 / 437909Downloading data file for  Glasgow High Street  in  2016
100% [........................................................] 491208 / 491208Could not create Ox entry for  GHSR
Creating .csv file for  Glasgow High Street
Downloading data file for  Glasgow Hope St  in  2015
Could not download data from  2015  for  Glasgow Hope St
Downloading data file for  Glasgow Hope St  in  2016
Could not download data from  2016  for  Glasgow Hope St
No data could be downloaded for  Glasgow Hope St
Downloading data file for  Glasgow Kerbside  in  2015
100% [........................................................] 218988 / 218988Downloading data file for  Glasgow Kerbside  in  2016
100% [........................................................] 219981 / 219981Could not create Ox entry for  GLA4
Creating .csv file for  Glasgow Kerbside
Downloading data file for  Glasgow Townhead  in  2015
100% [........................................................] 582060 / 582060Downloading data file for  Glasgow Townhead  in  2016
100% [........................................................] 590075 / 590075Creating .csv file for  Glasgow Townhead

In [ ]:
gd.UK_AURN_download([2015,2016],path='./normet/datasets/')

Metadata file already exists, skipping download.
Metadata file already exists, skipping download.
Metadata file already exists, skipping download.
Downloading data file for  Aberdeen  in  2015
100% [........................................................] 585418 / 585418Downloading data file for  Aberdeen  in  2016
100% [........................................................] 584495 / 584495Creating .csv file for  Aberdeen
Downloading data file for  Aberdeen Erroll Park  in  2015
Could not download data from  2015  for  Aberdeen Erroll Park
Downloading data file for  Aberdeen Erroll Park  in  2016
Could not download data from  2016  for  Aberdeen Erroll Park
No data could be downloaded for  Aberdeen Erroll Park
Downloading data file for  Aberdeen Union Street Roadside  in  2015
100% [........................................................] 218013 / 218013Downloading data file for  Aberdeen Union Street Roadside  in  2016
100% [........................................................] 212952 / 212952Could not create Ox entry for  ABD7
Creating .csv file for  Aberdeen Union Street Roadside
Downloading data file for  Aberdeen Wellington Road  in  2015
Could not download data from  2015  for  Aberdeen Wellington Road
Downloading data file for  Aberdeen Wellington Road  in  2016
100% [........................................................] 194601 / 194601Could not create Ox entry for  ABD8
Creating .csv file for  Aberdeen Wellington Road
Metadata file already exists, skipping download.
Downloading data file for  Armagh Roadside  in  2015
100% [........................................................] 252255 / 252255Downloading data file for  Armagh Roadside  in  2016
100% [........................................................] 329828 / 329828Could not create Ox entry for  ARM6
Creating .csv file for  Armagh Roadside
Metadata file already exists, skipping download.
Downloading data file for  Aston Hill  in  2015
100% [........................................................] 291896 / 291896Downloading data file for  Aston Hill  in  2016
100% [........................................................] 293203 / 293203Creating .csv file for  Aston Hill
Metadata file already exists, skipping download.
Downloading data file for  Auchencorth Moss  in  2015
100% [........................................................] 515828 / 515828Downloading data file for  Auchencorth Moss  in  2016
100% [........................................................] 687514 / 687514Could not create Ox entry for  ACTH
Could not create NOx entry for  ACTH
Creating .csv file for  Auchencorth Moss
Downloading data file for  Bush Estate  in  2015
100% [........................................................] 299677 / 299677Downloading data file for  Bush Estate  in  2016
100% [........................................................] 305206 / 305206Creating .csv file for  Bush Estate
Metadata file already exists, skipping download.
Downloading data file for  Ballymena Antrim Road  in  2015
Could not download data from  2015  for  Ballymena Antrim Road
Downloading data file for  Ballymena Antrim Road  in  2016
Could not download data from  2016  for  Ballymena Antrim Road
No data could be downloaded for  Ballymena Antrim Road
Downloading data file for  Ballymena Ballykeel  in  2015
100% [........................................................] 263188 / 263188Downloading data file for  Ballymena Ballykeel  in  2016
100% [........................................................] 346449 / 346449Could not create Ox entry for  BALM
Creating .csv file for  Ballymena Ballykeel
Metadata file already exists, skipping download.
Downloading data file for  Barnsley  in  2015
Could not download data from  2015  for  Barnsley
Downloading data file for  Barnsley  in  2016
Could not download data from  2016  for  Barnsley
No data could be downloaded for  Barnsley
Downloading data file for  Barnsley 12  in  2015
Could not download data from  2015  for  Barnsley 12
Downloading data file for  Barnsley 12  in  2016
Could not download data from  2016  for  Barnsley 12
No data could be downloaded for  Barnsley 12
Downloading data file for  Barnsley Gawber  in  2015
100% [........................................................] 497639 / 497639Downloading data file for  Barnsley Gawber  in  2016
100% [........................................................] 505746 / 505746Creating .csv file for  Barnsley Gawber
Metadata file already exists, skipping download.
Downloading data file for  Barnstaple A39  in  2015
100% [........................................................] 341621 / 341621Downloading data file for  Barnstaple A39  in  2016
100% [........................................................] 349923 / 349923Could not create Ox entry for  BPLE
Could not create NOx entry for  BPLE
Creating .csv file for  Barnstaple A39
Metadata file already exists, skipping download.
Downloading data file for  Bath A4 Roadside  in  2015
Could not download data from  2015  for  Bath A4 Roadside
Downloading data file for  Bath A4 Roadside  in  2016
Could not download data from  2016  for  Bath A4 Roadside
No data could be downloaded for  Bath A4 Roadside
Downloading data file for  Bath Roadside  in  2015
100% [........................................................] 217200 / 217200Downloading data file for  Bath Roadside  in  2016
100% [........................................................] 213328 / 213328Could not create Ox entry for  BATH
Creating .csv file for  Bath Roadside
Metadata file already exists, skipping download.
Downloading data file for  Belfast Centre  in  2015
100% [........................................................] 838414 / 838414Downloading data file for  Belfast Centre  in  2016
100% [........................................................] 854053 / 854053Creating .csv file for  Belfast Centre
Downloading data file for  Belfast Clara St  in  2015
Could not download data from  2015  for  Belfast Clara St
Downloading data file for  Belfast Clara St  in  2016
Could not download data from  2016  for  Belfast Clara St
No data could be downloaded for  Belfast Clara St
Downloading data file for  Belfast East  in  2015
Could not download data from  2015  for  Belfast East
Downloading data file for  Belfast East  in  2016
Could not download data from  2016  for  Belfast East
No data could be downloaded for  Belfast East
Downloading data file for  Belfast South  in  2015
Could not download data from  2015  for  Belfast South
Downloading data file for  Belfast South  in  2016
Could not download data from  2016  for  Belfast South
No data could be downloaded for  Belfast South
Downloading data file for  Belfast Stockman's Lane  in  2015
100% [........................................................] 292194 / 292194Downloading data file for  Belfast Stockman's Lane  in  2016
100% [........................................................] 292667 / 292667Could not create Ox entry for  BEL1
Creating .csv file for  Belfast Stockman's Lane
Metadata file already exists, skipping download.
Downloading data file for  Billingham  in  2015
100% [........................................................] 207003 / 207003Downloading data file for  Billingham  in  2016
100% [........................................................] 206509 / 206509Could not create Ox entry for  BIL
Creating .csv file for  Billingham
Downloading data file for  Stockton-on-Tees A1305 Roadside  in  2015
100% [........................................................] 142913 / 142913Downloading data file for  Stockton-on-Tees A1305 Roadside  in  2016
100% [........................................................] 349061 / 349061Could not create Ox entry for  SOTR
Creating .csv file for  Stockton-on-Tees A1305 Roadside
Downloading data file for  Stockton-on-Tees Eaglescliffe  in  2015
100% [........................................................] 319136 / 319136Downloading data file for  Stockton-on-Tees Eaglescliffe  in  2016
100% [........................................................] 307345 / 307345Could not create Ox entry for  EAGL
Creating .csv file for  Stockton-on-Tees Eaglescliffe
Downloading data file for  Stockton-on-Tees Yarm  in  2015
Could not download data from  2015  for  Stockton-on-Tees Yarm
Downloading data file for  Stockton-on-Tees Yarm  in  2016
Could not download data from  2016  for  Stockton-on-Tees Yarm
No data could be downloaded for  Stockton-on-Tees Yarm
Metadata file already exists, skipping download.

Invalid end year, out of range for  Bassetlaw
Invalid end year. The latest you can select for  Bassetlaw  is  1991
Metadata file already exists, skipping download.
Downloading data file for  Birkenhead Borough Road  in  2015
Could not download data from  2015  for  Birkenhead Borough Road
Downloading data file for  Birkenhead Borough Road  in  2016
100% [..........................................................] 65127 / 65127Could not create Ox entry for  BBRD
Creating .csv file for  Birkenhead Borough Road
Downloading data file for  Wirral Tranmere  in  2015
100% [........................................................] 445831 / 445831Downloading data file for  Wirral Tranmere  in  2016
100% [........................................................] 460800 / 460800Creating .csv file for  Wirral Tranmere
Metadata file already exists, skipping download.
Downloading data file for  Birmingham A4540 Roadside  in  2015
Could not download data from  2015  for  Birmingham A4540 Roadside
Data file already exists Birmingham A4540 Roadside  in  2016
Creating .csv file for  Birmingham A4540 Roadside
Data file already exists Birmingham Acocks Green  in  2015
Data file already exists Birmingham Acocks Green  in  2016
Creating .csv file for  Birmingham Acocks Green
Downloading data file for  Birmingham Centre  in  2015
Could not download data from  2015  for  Birmingham Centre
Downloading data file for  Birmingham Centre  in  2016
Could not download data from  2016  for  Birmingham Centre
No data could be downloaded for  Birmingham Centre
Downloading data file for  Birmingham East  in  2015
Could not download data from  2015  for  Birmingham East
Downloading data file for  Birmingham East  in  2016
Could not download data from  2016  for  Birmingham East
No data could be downloaded for  Birmingham East
Downloading data file for  Birmingham Ladywood  in  2015
Could not download data from  2015  for  Birmingham Ladywood
Downloading data file for  Birmingham Ladywood  in  2016
Could not download data from  2016  for  Birmingham Ladywood
No data could be downloaded for  Birmingham Ladywood
Data file already exists Birmingham Tyburn  in  2015
Data file already exists Birmingham Tyburn  in  2016
Creating .csv file for  Birmingham Tyburn
Data file already exists Birmingham Tyburn Roadside  in  2015
Data file already exists Birmingham Tyburn Roadside  in  2016
Creating .csv file for  Birmingham Tyburn Roadside
Metadata file already exists, skipping download.
Invalid end year, out of range for  Bromsgrove
Invalid end year. The latest you can select for  Bromsgrove  is  1978
Metadata file already exists, skipping download.
Downloading data file for  Blackburn Accrington Road  in  2015
100% [........................................................] 201802 / 201802Downloading data file for  Blackburn Accrington Road  in  2016